 .rightbar {
  flex: 3.2;
  margin-top: 50px;
  height: calc(100vh - 70px);
  overflow-y: scroll;
}

.rightbarWrapper {
  padding: 20px 20px 0 0;
}
.birthdayContainer{
  display: flex;
  align-items: center;
  gap: 10px;

}
.birthdayImage{
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.birthdayText{
  font-size: 15px;
}

.rightbarAdImg{
  /* margin-top: 10px; */
  width: 50%;
  height: 100px;
  border-radius: 5px;
}

.ads:hover{
  background-color:rgb(240, 231, 231);
  cursor: pointer;
}

.ads:hover .adsButton {
  background-color:rgb(65, 65, 173);
  color: white;
}

.ads .moreIcon {
  visibility: hidden;
}

.ads:hover .moreIcon {
  visibility: visible;
}

.moreIcon {
  margin-left: auto;
}

.adsButton {
  height: 35px;
  background-color:gainsboro;
  color: black;
  font-weight: 600;
  /* background-color: rgb(65, 65, 173); */
  border: 1.5px solid rgb(236, 224, 224);
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
  font-size: medium;
  opacity: 0.8;
  margin-top: 7px;
}

.rightbarTitle{
  margin: 10px 0px;
  color: grey;
  font-size: 18px;
  font-weight: 500;
}
.rightbarFriendList{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.rightbarHr{
  margin: 10px 0px;
  opacity: 0.3;
}

@media only screen and (max-width: 600px){
  .rightbar{
   display: none;
  }
 }